<m-portlet>
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Recent Activities
			</h3>
		</div>
	</ng-container>

	<!-- use ng-container[mPortletHeadTools] for the top right toolbar content -->
	<ng-container mPortletHeadTools>
		<ul class="m-portlet__nav">
			<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
					<i class="la la-ellipsis-h m--font-brand"></i>
				</a>
				<div class="m-dropdown__wrapper" style="z-index: 101;">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first">
										<span class="m-nav__section-text">Quick Actions</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">Activity</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">Messages</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">FAQ</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">Support</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit">
									</li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Cancel</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</ng-container>

	<!-- use ng-container[mPortletBody] for the body content -->
	<ng-container mPortletBody>
		<perfect-scrollbar class="m-scrollable m-scroller" style="height: 40vh;">
			<!--Begin::Timeline 2 -->
			<div class="m-timeline-2">
				<div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
					<div class="m-timeline-2__item m--margin-top-30">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 5000000">Nivel 10</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{5000000 | number: '1.0'}}" *ngIf="nivel == 5000000 || nivel > 5000000">Nivel 10</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{5000000 | number: '1.0'}}" #n10="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 5000000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n10="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 5000000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n10="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 5000000 && nivel !== 5000000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 5000000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">MAGNATE</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 5000000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">MAGNATE</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=5000000 matTooltip="Meta: $ {{5000000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 5000000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">MAGNATE</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
					<div class="m-timeline-2__item m--margin-top-30">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 3000000">Nivel 9</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{3000000 | number: '1.0'}}" *ngIf="nivel == 3000000 || nivel > 3000000">Nivel 9</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{3000000 | number: '1.0'}}" #n9="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 3000000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n9="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 3000000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n9="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 3000000 && nivel !== 3000000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 3000000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">Presidente Internacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 3000000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Presidente Internacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=5000000 matTooltip="Meta: $ {{5000000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 3000000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Presidente Internacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
					<div class="m-timeline-2__item m--margin-top-30">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 2000000">Nivel 8</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{2000000 | number: '1.0'}}" *ngIf="nivel == 2000000 || nivel > 2000000">Nivel 8</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{2000000 | number: '1.0'}}" #n8="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 2000000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n8="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 2000000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n8="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 2000000 && nivel !== 2000000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 2000000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">Presidente Nacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 2000000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Presidente Nacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=3000000 matTooltip="Meta: $ {{3000000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 2000000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Presidente Nacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
					<div class="m-timeline-2__item m--margin-top-30">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 1300000">Nivel 7</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{1300000 | number: '1.0'}}" *ngIf="nivel == 1300000 || nivel > 1300000">Nivel 7</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{1300000 | number: '1.0'}}" #n7="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 1300000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n7="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 1300000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n7="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 1300000 && nivel !== 1300000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 1300000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">Presidente Regional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 1300000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Presidente Regional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=2000000 matTooltip="Meta: $ {{2000000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 1300000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Presidente Regional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
					<div class="m-timeline-2__item">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 700000">Nivel 6</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{700000 | number: '1.0'}}" *ngIf="nivel == 700000 || nivel > 700000">Nivel 6</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{700000 | number: '1.0'}}" #n6="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 700000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n6="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 700000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n6="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 700000 && nivel !== 700000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 700000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">Director Internacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 700000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Director Internacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=1300000 matTooltip="Meta: $ {{1300000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 700000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Director Internacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
					<div class="m-timeline-2__item m--margin-top-30">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 360000">Nivel 5</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{360000 | number: '1.0'}}" *ngIf="nivel == 360000 || nivel > 360000">Nivel 5</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{360000 | number: '1.0'}}" #n5="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 360000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n5="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 360000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n5="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 360000 && nivel !== 360000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 360000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">Director Nacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 360000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Director Nacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=700000 matTooltip="Meta: $ {{700000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 360000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Director Nacional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
					<div class="m-timeline-2__item m--margin-top-30">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 180000">Nivel 4</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{180000 | number: '1.0'}}" *ngIf="nivel == 180000 || nivel > 180000">Nivel 4</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{180000 | number: '1.0'}}" #n4="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 180000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n4="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 180000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n4="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 180000 && nivel !== 180000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 180000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">Director Regional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 180000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Director Regional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=360000 matTooltip="Meta: $ {{360000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 180000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Director Regional</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
					<div class="m-timeline-2__item m--margin-top-30">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 90000">Nivel 3</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{90000 | number: '1.0'}}" *ngIf="nivel == 90000 || nivel > 90000">Nivel 3</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{90000 | number: '1.0'}}" #n3="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 90000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n3="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 90000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n3="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 90000 && nivel !== 90000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 90000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">Ejecutivo Elite</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 90000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Ejecutivo Elite</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=180000 matTooltip="Meta: $ {{180000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 90000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Ejecutivo Elite</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
					<div class="m-timeline-2__item m--margin-top-30">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 35000">Nivel 2</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{35000 | number: '1.0'}}" *ngIf="nivel == 35000 || nivel > 35000">Nivel 2</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{35000 | number: '1.0'}}" #n2="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 35000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n2="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 35000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n2="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 35000 && nivel !== 35000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 35000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">Ejecutivo Senior</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 35000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Ejecutivo Senior</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=90000 matTooltip="Meta: $ {{90000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 35000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Ejecutivo Senior</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
					<div class="m-timeline-2__item m--margin-top-30">
						<span class="m-timeline-2__item-time">
							<a class="m-link m-link--brand m--font-metal m--font-bolder" matTooltip="" *ngIf="nivel < 10000">Nivel 1</a>
							<a class="m-link m-link--brand m--font-success m--font-bolder" matTooltip="$ {{ nivel | number: '1.0' }}" *ngIf="nivel == 10000 || nivel > 10000">Nivel 1</a>
						</span>
						<div class="m-timeline-2__item-cricle">
							<!--<i class="fa fa-genderless m--font-metal" matTooltip="$ {{nivel | number: '1.0'}}" *ngIf="nivel < 10000"></i>-->
							<i class="fa fa-genderless m--font-metal" ngbTooltip="$ {{10000 | number: '1.0'}}" #n2="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-nextgraduation-class" *ngIf="nivel < 10000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="Nivel Actual" #n1="ngbTooltip" [autoClose]="false" triggers="manual" tooltipClass="my-graduation-class" *ngIf="nivel == 10000"></i>
							<i class="fa fa-genderless m--font-success" ngbTooltip="graduado" #n1="ngbTooltip" [autoClose]="'inside'" tooltipClass="my-lastgraduation-class" *ngIf="nivel > 10000 && nivel !== 10000"></i>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel < 10000">
							<div class="m-timeline-2__item-text m--font-metal m-timeline-2__item-text--bold">Ejecutivo Junior</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br> incididunt ut labore et dolore magna elit enim at minim<br> veniam quis nostrud
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel == 10000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Ejecutivo Junior</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
							Cuando ayudas a otras personas obtienes puntos por cada ingreso y te acercas mas, al siguiente nivel.<br><br>
							<ngb-progressbar max type="success" [striped]="true" height="25px" value="{{nivel}}" [max]=35000 matTooltip="Meta: $ {{35000 | number: '1.0'}}" matTooltipPosition="after">
								<span>Acumulado $ {{nivel | number: '1.0'}}</span>
							</ngb-progressbar>
						</div>
						<div class="m-timeline-2__item-text m--padding-top-5" *ngIf="nivel > 10000">
							<div class="m-timeline-2__item-text m--font-success m-timeline-2__item-text--bold">Ejecutivo Junior</div>
							<div class="m-list-pics m-list-pics--sm m--padding-left-20"><a><img src="assets/app/media/img/users/100_4.jpg" title=""></a></div>
						</div>
					</div>
				</div>
			</div>
			<!--End::Timeline 2 -->
		</perfect-scrollbar>
	</ng-container>
</m-portlet>
